a {
  color: #E3F2FD;
}
a:hover {
   color: rgb(123, 224, 255)
}
.App {
  text-align: center;
}

.navbar {
  border: black solid;
  height: 35px;
  padding-top: 10px;
  background: black;
  text-align: right;
}

.nav-link1 {
  color: #E3F2FD;
  font-size: 20px;
  margin: 0px 5px 0px 0px;
}

.nav-item {
  float:left;
  color: black;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 10px;
}

.nav {
  list-style-type: none;
  position: absolute;
  top: -6px;
  right: 15px;
}

.Header {
  float: right;
  padding-right: 200px;
  padding-top: 4px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #E3F2FD;
  font-size: 20px;
}

.calPalLogo {
  font-family: 'Orbitron', sans-serif;
  color: #E3F2FD !important;
  width: 100px;
  font-size: 30px !important;
  margin: 0px 0px 0px 0px;
  padding: 0;
  text-shadow:
    -0.5px -0.5px 0 #d04a4a, 
    0.5px 0.5px 0 #d04a4a, 
    0.5px 0.5px 0 #d04a4a, 
    1.5px 1.5px 0 #d04a4a;
  position: relative;
  left:23px;
  bottom:3px;
}