#FormWrapper{
  border: black solid;
  width: 1000px;
  margin-top: 5vh;
  margin: 5vh auto 5vh auto;
  /* background: #f7f7b0; */
  background: #b7b7a4ab;
}

form {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

input {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
  width: 171px;
  margin-left: 5px;
}

.pub-priv {
  height: 20px;
  width: 20px;
  margin-left: 30px;
}

button {
  font-family: 'Roboto Condensed', sans-serif !important;
  background: #d04a4a !important;
  margin: 5px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

.Form {
  border: black solid;
  margin: 20px;
}

.rdt {
  width: 170px;
  float: left !important;
}

.website {
  clear:both;
  margin-left:35px;
}

.ddate {
  width: 50px;
  float: left;
  margin-left: 150px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

.eventName {
  margin-top: 10px;
}

.where {
  margin-top: 10px;
  width: 250px;
  margin-left: 90px;
  margin-bottom: 10px;
}

.addInfo {
  margin: 10px;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}