.calPal {
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  margin: 33px 0px 0px 0px;
  text-shadow:
    -1px -1px 0 #d04a4a, 
    3px 3px 0 #d04a4a, 
    4px 4px 0 #d04a4a, 
    4px 3px 0 #d04a4a
}

h2 {
  margin-top: -10px;
}
label {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 8px;
}

.SignupForm {
  border: black solid;
  width: 450px;
  height: 332px;
  margin-left: 34vw;
  margin-top: 30vh;
  background: #f7f7b0;
}

input {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 15px;
  width: 171px
}

.signupButton {
  font-family: 'Roboto Condensed', sans-serif !important;
  background: #d04a4a !important;
  margin-left:23px !important;
  color: black;
}

#confirmPW {
  margin-left: -71px;
}
