.sidebar{
    border: black solid;
    margin-top: 5vh;
    margin-left: 20px;
    max-width: 25vw;
    min-height: 87.5vh;
    background: #b7b7a4ab;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  button {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: #d04a4a !important;
    margin: 5px;
  }

  .toCreate {
    margin-top: 5px !important;
  }
  .saveSchedule {
    width: 140px;
  }
  
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:10px;
  }

  .dropdown {
    margin-bottom:15px;
  }
  
