.sidebar{
    border: black solid;
    margin-top: 5vh;
    margin-left: 20px;
    max-width: 25vw;
    /* min-height: 87.5vh; */
    height: 661px;
    background: #b7b7a4ab;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  button {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: #d04a4a !important;
    margin: 5px;
  }

  .toCreate {
    margin-top: 5px !important;
    position: absolute;
    bottom: 90px;
    left: 85px;
  }
  .saveSchedule {
    width: 140px;
    position: absolute;
    bottom: 135px;
    left: 85px;
  }
  
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top:10px;
  }

  .dropdown {
    margin-bottom:15px;
  }

  .checkBoxField {
    height: 145px;
    overflow: auto;
    text-align:left;
  }
  
  .checkbox {
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
  }

  .sidebarH2 {
    margin-top: 5px;
    font-size: 27px;
    margin-bottom: 0px;
  }

  .delete {
    font-size: 16px !important;
  }

  .popup{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px !important;
  }